﻿@model IEnumerable<ContactWeb.Models.Contact>

@{
    ViewBag.Title = "My contacts";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-lg" })
</p>
<table id="myContacts" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.PhonePrimary)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.State)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.PhonePrimary)</td>
                <td>@Html.DisplayFor(modelItem => item.City)</td>
                <td>@Html.DisplayFor(modelItem => item.State)</td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
                <td>@Html.HiddenFor(modelItem => item.UserId)</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#myContacts").dataTable({
                "pagingType": "full_numbers"
                , "scrollY": "250px"
                , "columnDefs": [
                      { "width": "45px", "targets": 0 }
                    , { "width": "45px", "targets": 1 }
                    , { "width": "20px", "targets": 2 }
                    , { "width": "15px", "targets": 3 }
                    , { "width": "20px", "targets": 4 }
                    , { "width": "20px", "targets": 5 }
                    , { "width": "30px", "targets": 6 }
                    , { "width": "10px", "targets": 7 }
                   // , { "width": "10px", "targets": 8 }
                ]
                , "order": [[1, "desc"]]
                , "dom": 'Rlfrtip'
                , "stateSave": "true"
                , "lengthMenu": [[-1, 10, 20, 50, 100], ["All", 10, 20, 50, 100]]
            });
        });
    </script>
}