﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contacts Manager </h1>
    <p class="lead">This a an awasome web solution for contact management. It's built using ASP.NET MVC 5 framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>
        <h3>Other technologies: </h3> 
        <ul>
            <li> Boostrap for responsiveness </li>
            <li> JQuery DataTables </li>
            <li> JQueryUI DatePicker </li>
            <li> Entity Framework Code-First Migrations </li>
            <li> MsSQL Server Express for development</li>
            <li> AppHarbor SQL Server (Yocto) for production </li>
            <li> BitBucket/Git for Source Control </li>
            <li> VS 2015/ VS2017 </li>
        </ul>
    </p>
    <p><a href="https://bitbucket.org/houssnou/contentweb">Code Source on BitBucket</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Coming Soon</h2>
        <p>Appointment Manager</p>
        <p>Manage easily all your appointment in one place.</p>
        <p><a class="btn btn-default" href="">Coming soon &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coming Soon</h2>
        <p>GymBuddy</p>
        <p>Find a gym buddy in your area</p>
        <p><a class="btn btn-default" href="">Coming soon &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See my others projects here</h2>
        <p><a class="btn btn-default" href="https://github.com/houssnou">GitHub &raquo;</a></p>
        <p><a class="btn btn-default" href="https://hkabore.dev">Portfolio &raquo;</a></p>
    </div>
</div>