﻿body {
    padding-top: 50px;
}
.defaultText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
}

.padTextRight {
    padding-right:8px;
}

.dataTables_info {
    color: white !important;
}

.dataTables_paginate {
    color: white !important;
}